graph {
    fill-color: #96eedc;
}

node {
    size: 15px;
    text-alignment: under;
    text-padding: 10px;
}

edge {
    shape: line;
    arrow-size: 12px, 6px;
    text-alignment: above;
    text-padding: 25px, 25px;
}

edge.listref {
    fill-color: #006e00;
}

node.origin {
    size: 30px;
    fill-color: #ee0505;
}
