<div class="inspector-wrapper">
  <div *ngIf="err">
    <h1>{{ err.msg }}</h1>
  </div>
  <div *ngIf="details">
    <div *ngIf="isType(StorageEntryType.SEQUENCE)">
      Current value is: {{ details.entry?.seqVal ?? 'Unknown' }}
    </div>
    <div *ngIf="isType(StorageEntryType.LIST) || isType(StorageEntryType.MAP)">
      <p-table [value]="details.entry?.references ?? []">
        <ng-template #header>
          <tr>
            <th pSortableColumn="propName" style="width:20%">
              Key
              <p-sortIcon field="propName"/>
            </th>
            <th pSortableColumn="uri" style="width:80%">
              Value
              <p-sortIcon field="uri"/>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-reference>
          <tr>
            <td>{{ reference.propName }}</td>
            <td>{{ reference.uri }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="isType(StorageEntryType.OBJECT)">
      <div *ngIf="isSingleLoad()">
        <app-prism [code]="stringifyObjectContent()"></app-prism>
      </div>
    </div>
    <div *ngIf="isMultiLoad()">
      <p-tabs [value]="currVersion" scrollable>
        <p-tablist>
          @for (v of details.versions; track v) {
            <p-tab [value]="$index">{{ $index }}</p-tab>
          }
        </p-tablist>
        <p-tabpanels>
          @for (v of details.versions; track v) {
            <p-tabpanel [value]="$index">
              <app-prism [code]="stringifyObjectContent(v)"></app-prism>
            </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
</div>
