<div class="app-container">
  <app-header class="app-header"></app-header>
  <div class="app-content">
    <app-tree-view class="app-tree-view"></app-tree-view>
    <div class="app-display">
      <app-graph-view class="graph-view" *ngIf="visualisationService.showGraph"></app-graph-view>
      <app-inspector-container-view class="inspector-container-view"
                                    *ngIf="visualisationService.showInspectors">
      </app-inspector-container-view>
    </div>
  </div>
  <div class="app-footer"></div>
</div>
