@import 'primeicons/primeicons.css';
@import 'prismjs/themes/prism-okaidia.css';

html {
  height: 100%;
  font-size: 14px;

  --primary-color: var(--p-primary-color, #29b3b3);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --text-color: var(--p-text-color);
  --text-color-secondary: var(--p-text-muted-color);
  --surface-border: var(--p-content-border-color);
  --surface-card: var(--p-content-background);
  --surface-hover: var(--p-content-hover-background);
  --surface-overlay: var(--p-overlay-popover-background);
  --transition-duration: var(--p-transition-duration);
  --maskbg: var(--p-mask-background);
  --content-border-radius: var(--p-content-border-radius);
  --layout-section-transition-duration: 0.2s;
  --element-transition-duration: var(--p-transition-duration);
  --focus-ring-width: var(--p-focus-ring-width);
  --focus-ring-style: var(--p-focus-ring-style);
  --focus-ring-color: var(--p-focus-ring-color);
  --focus-ring-offset: var(--p-focus-ring-offset);
  --focus-ring-shadow: var(--p-focus-ring-shadow);

  --surface-ground: var(--p-surface-100);
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  background-color: var(--p-surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.tree-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--p-primary-color);
  gap: 1rem;
  background-color: var(--p-surface-50);
  overflow: auto;
  height: 100%;
  min-width: 8em;
  max-height: calc(100vh - 100px);
}

.my-app-dark .tree-container {
  background-color: var(--p-surface-800);
}

.my-tree-root-container:has(a.tree-link.active) {
  background-color: var(--p-surface-200);

  border-left: 5px solid rgba(from var(--p-primary-color) r g b / 0.6);
}

.my-app-dark .my-tree-root-container:has(a.tree-link.active) {
  background-color: var(--p-surface-700);
}
.tree-link.active {
  background-color: var(--p-primary-200);
  border-left: 5px solid var(--p-primary-color);
}

.my-app-dark .tree-link.active {
  background-color: var(--p-primary-700);
}

.tree-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
  gap: 0.5rem;
  color: black;
  padding: 0.5rem 1rem;
}

.my-app-dark .tree-link {
  color: white
}
