graph {
    fill-color: #fff, #96eedc;
    fill-mode: gradient-diagonal1;
    padding: 50px;
}

node {
    size: 10px;
    fill-color: black;
    text-alignment: under;
    text-padding: 5px, 4px;
    text-background-mode: rounded-box;
    text-background-color: #e0f9f488;
    text-size: ${text-size};
    text-color: black;
    size-mode: fit;
}

edge {
    shape: line;
    arrow-size: 6px, 3px;
    fill-color: #00000059;
    text-alignment: along;
    text-padding: 3px, 2px;
    text-style: bold;
    text-background-mode: rounded-box;
    text-background-color: #3c5e5888;
    text-color: white;
    text-size: ${text-size};
    text-visibility: 0.7;
    text-visibility-mode: under-zoom;
}

node.highlighted {
    shadow-mode: gradient-radial;
    shadow-width: 15px;
    shadow-color: #ee0505, #96eedc;
    shadow-offset: 0px;
    z-index: 0;
}

edge.listref {
    fill-color: #006e0059;
}

node.origin {
    size: 30px;
    fill-color: #ee0505;
}

node.originhighlighted {
    size: 30px;
    fill-color: #ee0505;
    shadow-mode: gradient-radial;
    shadow-width: 15px;
    shadow-color: #ee0505, #96eedc;
    shadow-offset: 0px;
    z-index: 0;
}
